.gsc-control-cse {
    background: none !important;
    border: none !important;
}

#___gcse_1 table, .gsc-above-wrapper-area table, .search-result-pages table {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border: none !important;
    background: none;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.gsc-result-info-container {
    padding: 0px !important;
}

.gsc-result {
    background: none !important;
    border: none !important;
    margin-top: 30px !important;
    background: url(../images/misc/article/intro-bottom-border.png) center bottom no-repeat !important;
    margin: 0 0 2em !important;
    padding: 10px 0 !important;
}

.gs-title {
    height: 2em !important;
    font-size: 1.5em !important;
    text-decoration: none !important;
    line-height: 1em !important;
    font-family: kg_small_town_southern_girlRg !important;
    font-weight: 400 !important;
    color: #033579 !important;
}

    .gs-title:hover {
        text-decoration: underline !important;
    }

    .gs-title b {
        font-size: 1em !important;
        color: #033579 !important;
    }

.gsc-url-top, .gs-snippet {
    font-size: 1.2em !important;
    color: #444 !important;
    margin-top: 10px !important;
}

.gsc-result-info-container {
    padding-left: 0px; !important;

}

.gsc-result-info {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.gs-visibleUrl {
    color: #444 !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    margin-top: 10px !important;
}
.gsc-control-cse div {
    margin-bottom: 5px;
}

.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    padding-bottom: 30px !important;
}

.cse .gsc-results, .gsc-results {
    margin-top: 0px !important;
}

.gsc-cursor-current-page {
    text-decoration: underline !important;
}

.gsc-cursor-current-page, .gsc-cursor-page {
    background: none !important;
    font-size: 1.2em;
}

.gsc-search-box table {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.gsc-search-button{
    border: 0 !important;
    box-shadow: none !important;
    /*padding: 6px 20px !important;*/
    color: #444 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 25px !important;
    height: 1.7em !important;
    position: relative !important;
    top: 3px !important;
    margin: 0 !important;

}

.gsc-input-box, .gsc-input-box:hover {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.gsc-input-box input{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}


/*Custom Search*/
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px !important;
}

#___gcse_0{
        width: 19.375em !important;
    }

@media only screen and (max-width: 940px) {
    table.gsc-search-box {
        width: 100% !important;
    }
    .gsc-search-button{ 
        width: 50px;
    }
}

form.gsc-search-box {
    padding: 0px !important;
}

table.gsc-search-box td {
    vertical-align: top !important;
}

input.gsc-search-button {
    background-color: transparent !important;
    color: transparent !important;
    position: relative;
    z-index: 100 !important;
    padding: 0px !important;
}

table.gsc-search-box td {
    padding-right: 0px !important;
}

.gsc-search-button {
    padding-right: 0px !important;
    min-width: 10px !important;
}

.gsc-search-button:after {
    font-family: GeneralFoundicons;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    content: "\f02e";
    position: absolute;
    right: 8px;
    /* height: 2px; */
    display: none;
}

.gsc-input .gsc-input:after {
    content "";
    background: url(/images/header/search-bg.png) 0 bottom no-repeat;
    overflow: hidden;
    height: 45px; 
}

td.gsc-clear-button {
    display: none;
 }

 table tr td.gsc-input {
    padding: 0em !important!
 }

.gsc-result .gs-title {
    height: auto !important;
}

.cse form.gsc-search-box, form.gsc-search-box {
    margin-bottom: 0 !important;
}

.m-search-box div div form table.gsc-search-box td.gsc-input {
    padding-top: 0;
    padding-bottom: 0;
}

.m-search-box div div form .gsc-search-button:after {
    right: 10px;
    color: #033579;
    font-size: 25px;
}

.gsc-search-box  input.gsc-input {
    border: none !important; 
    margin-bottom: 0px !important;
}

.gsc-search-box {
    width: 19.375em;
    background: url(../images/header/search-bg.png) 0 bottom no-repeat;
    overflow: hidden;
    height: 45px;
        
}

table.gsc-search-box td {
    padding-top: 4px;
}

.gsc-search-box .gsc-input input.gsc-input {
    background: none !important;
    border: 0px !important;
    box-shadow: none !important;
    font-family: Tahoma,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif !important;
    font-size: 17px !important;
    line-height: 2em !important;
    padding-bottom: 15px !important;
}

input.gsc-input[type=text]:focus {
    box-shadow: none;

}

.gsc-control-cse.gsc-control-cse-en {
    padding: 0px !important;
}

.gsc-completion-container td span {
    padding: 10px; 
    display: block;
}

.gssb_a {
    padding: 0px !important;
}

.gsc-table-cell-snippet-close {
    padding: 0px;
}

.gs-title {

}

.gsc-cursor-page {
    font-size: 16px !important;
    text-decoration: none !important;
    margin-right: 12px !important;
}

.gsc-cursor-box {
    border-top: 0px !important;
}

.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page, .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    text-shadow: none !important;
}

button.gsc-search-button svg {
    position: relative;
    width: 20px;
    right: 13px;
    bottom: 2px;
}

@media only screen and (max-width: 940px) {
    .gsc-search-box .gsc-input input.gsc-input {
        padding-bottom: 0px !important;
        background-image: none !important;
    }
    .gsc-search-box {
        background: none !important;
    }
    table.gsc-search-box td {
        padding-top: 3px;
        padding-right: 7px !important;
    }
}